<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="alternate" hreflang="el" href="{{ site.url }}/{{ urlPath }}" />
<link rel="alternate" hreflang="en" href="{{ site.url }}/en/{{ urlPath }}" />
<link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ urlPath }}" />
